@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    user-select: none;
    background: #444;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 120vmin;
}

.slideshow {
    display: flex;
    overflow: hidden;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    padding: 10% 0;
    opacity: 0;
    cursor: grab;
}

.slideshow.dragging {
    cursor: grabbing;
}

.slideshow.in {
    animation: in 1s ease-in both;
}

.slideshow>img {
    max-height: 80vh;
    max-width: 100%;
    width: 40%;
    object-fit: contain;
}

footer {
    position: fixed;
    font-size: 0.75rem;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 5vh;
    line-height: 1.5;
}

footer>a {
    color: deeppink;
}

@keyframes in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}