body {
    user-select: none;
    background: #444;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --imgWidth: 600px;
}

.img-box {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: calc(var(--imgWidth) * 3);
    margin: 100px auto;
    height: 500px;
    display: flex;
    align-items: center;
}

.img-box::-webkit-scrollbar {
    display: none;
}

.img-box img {
    /* pointer-events: none; */
    user-select: none;
    width: var(--imgWidth);
    height: 400px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.35s;
    z-index: 1;
}

/* .img-box img:hover {
    transition: 0.35s;
    scale: 1.1;
    z-index: 2;
} */

.btn {
    position: fixed;
    bottom: 50px;
    left: 50px;
}