:root {
    --white: #ffffff;
    --grey: #777;
    --red: #ff0000;
    --dark: #333;
    --black: #000;
    --dimgrey:dimgrey;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: dimgrey;
}

h1 {
    margin: 0;
}

.div-box {
    user-select: none;
    padding-top: 2rem;
    text-align: center;
    background-color: var(--white);
}

/* Start scrollbar progress */
.progress-bar-template {
    position: fixed;
    top: 0;
    width: 0%;
    height: 7px;
    background: linear-gradient(45deg, #f17e7e, #ff0000);
    z-index: 10;
}

/* End Scrollbar progress */

/* Start hover-effects-template */
.hover-effects-template {
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-effects-template ul {
    position: relative;
    display: flex;
    gap: 25px;
}

.hover-effects-template ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    background-color: var(--white);
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.hover-effects-template ul li:hover {
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

.hover-effects-template ul li::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
}

.hover-effects-template ul li:hover::before {
    opacity: 1;
}

.hover-effects-template ul li::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    transition: 0.5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

.hover-effects-template ul li:hover::after {
    opacity: 0.5;
    z-index: 0;
}

.hover-effects-template ul li ion-icon {
    color: var(--grey);
    vertical-align: middle;
    font-size: 1.75em;
    transition: 0.5;
}

.hover-effects-template ul li:hover ion-icon {
    transform: scale(0);
    color: var(--white);
    transition-delay: 0s;
}

.hover-effects-template ul li span {
    position: absolute;
}

.hover-effects-template ul li .title {
    color: var(--white);
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

.hover-effects-template ul li:hover .title {
    transform: scale(1);
    transition-delay: 0.25s;
}

/* End hover-effects-template */

/* Start Accordion-template */
.accordion-template {
    padding-bottom: 3rem;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #ffffff, #f5f8ff);
}

.accordion-container {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    max-width: 600px;
    gap: 20px;
}

.accordion-container h1 {
    color: var(--dark);
}

.accordion-container .tab {
    position: relative;
    background: var(--white);
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    overflow: hidden;
}

.accordion-container .tab input {
    appearance: none;
}

.accordion-container .tab label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.accordion-container .tab label::after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.1);
    transition: transform 1s;
}

.accordion-container .tab:hover label::after {
    color: var(--dark);
}

.accordion-container .tab input:checked~label::after {
    transform: rotate(135deg);
    color: var(--white);
}

.accordion-container .tab label h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--dark);
    color: var(--white);
    font-size: 1.25em;
    border-radius: 5px;
    margin: 0;
    margin-right: 10px;
}

.accordion-container .tab input:checked~label h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.2);
    font-size: 8em;
    justify-content: flex-end;
    padding: 20px;
}

.accordion-container .tab:nth-child(1) label h2 {
    background: linear-gradient(135deg, #70f570, #49c628);
}

.accordion-container .tab:nth-child(2) label h2 {
    background: linear-gradient(135deg, #3c8ce7, #00eaff);
}

.accordion-container .tab:nth-child(3) label h2 {
    background: linear-gradient(135deg, #ff96f9, #c32bac);
}

.accordion-container .tab:nth-child(4) label h2 {
    background: linear-gradient(135deg, #fd6e6a, #ffc600);
}

.accordion-container .tab label h3 {
    margin: 0;
    position: relative;
    font-weight: 500;
    color: var(--dark);
    z-index: 10;
}

.accordion-container .tab input:checked~label h3 {
    background: var(--white);
    padding: 2px 10px;
    color: var(--dark);
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.accordion-container .tab .content {
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}

.accordion-container .tab input:checked~.content {
    max-height: 100vh;
}

.accordion-container .tab .content p {
    position: relative;
    padding: 10px 0;
    color: var(--dark);
    z-index: 10;
}

.accordion-container .tab input:checked~.content p {
    color: var(--white);
}

/* End Accordion-template */

/* Start List Hover Effects */
.list-hover-template {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f363e;
}

.list-hover {
    position: relative;
    padding: 1rem 50px;
    width: 350px;
    min-height: fit-content;
    background: #2f363e;
    border-radius: 20px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
        10px 10px 70px rgba(0, 0, 0, 0.5),
        inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 10px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75)
}

h4,
p {
    margin: 0;
    padding: 0;
    text-align: left;
}

.list-hover h3 {
    margin: 0;
    color: var(--white);
    font-size: 1.5em;
    font-weight: 700;
}

.list-hover .list {
    display: flex;
    position: relative;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
}

.list-hover .list::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background: #f6f6f6;
    border-radius: 22.5px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
        inset 2px 2px 5px rgba(255, 255, 255, 0.25),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.list-hover .list:hover::before {
    width: 100%;
}

.list-hover .list .rank {
    position: relative;
    min-width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}

.list-hover .list .rank::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    background: #2f363e;
    border-radius: 35px;
    transform: scale(0);
    transition: 0.5s;
}

.list-hover .list:hover .rank::before {
    transform: scale(1);
}

.list-hover .list .rank span {
    position: relative;
    font-weight: 600;
    font-size: 1em;
    color: var(--black);
    transition: 0.5s;
}

.list-hover .list:hover .rank span {
    color: var(--white);
}

.list-hover .list .creator {
    position: relative;
    line-height: 1.15em;
}

.list-hover .list .creator h4 {
    font-weight: 600;
    color: #bcbcc0;
    transition: 0.5s;
}

.list-hover .list .creator p {
    font-weight: 400;
    color: #95999d;
    font-size: 0.85em;
    transition: 0.5s;
}

.list-hover .list:hover .creator h4,
.list-hover .list:hover .creator p {
    color: var(--black);
}
/* End List Hover Effects */

/* Start 9 dots menu */
.dots-template {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f363e;
}

.navigation {
    margin: 0 7rem;
    position: relative;
    width: 70px;
    height: 70px;
    background: #212532;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    transition-delay: 0.8s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.active {
    width: 200px;
    height: 200px;
    transition-delay: 0s;
}

.navigation span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 50%;
    transform: translate(calc(12px*var(--x)),calc(12px*var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
    transition-delay: calc(0.1s * var(--i));
}

.navigation.active span {
    width: 45px;
    height: 45px;
    background: #333849;
    transform: translate(calc(60px*var(--x)),calc(60px*var(--y)));
}

.navigation span ion-icon {
    transition: 0.5s;
    font-size: 0em;
}

.navigation.active span ion-icon {
    font-size: 1.35em;
    color: #fff;

}

.navigation.active span:hover ion-icon {
    color: #70f570;
    filter: drop-shadow(0 0 2px #70f570)
            drop-shadow(0 0 5px #70f570)
            drop-shadow(0 0 15px #70f570);
}
/* End 9 dots menu */

/* Start Circle menu */
.navigation-circle {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-circle li {
    position: absolute;
    list-style: none;
    left: 0;
    transform-origin: 100px;
    transition: 0.5s;
    transition-delay: calc(0.1s*var(--c));
    transform: rotate(0deg) translateX(80px);

}

.navigation-circle.active li {
    transform: rotate(calc(360deg/8*var(--c)));
}

.navigation-circle li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #212532;
    border-radius: 50%;
    transform: rotate(calc(360deg/-8*var(--c)));
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    color: #fff;
    scale: 1.1;
    transition: 0.5s;
}

.navigation-circle.active li a ion-icon {
    transition: 0.5s;
}

.navigation-circle li a:hover ion-icon {
    color: #70f570;
    filter: drop-shadow(0 0 2px #70f570)
            drop-shadow(0 0 5px #70f570)
            drop-shadow(0 0 15px #70f570);
}

.toggle-circle {
    color: #fff;
    position: absolute;
    width: 60px;
    height: 60px;
    background: #212532;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}

.navigation-circle.active .toggle-circle {
    transform: rotate(315deg);
}

.navigation-circle li ion-icon {
    font-size: 1.5em;
    color: #fff;
}
/* End Circle menu */

/* Start Dropdown User Menu */
.drop-down-template{
    background: #2f363e;
}

.drop-nav {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 60px;
    background: #2f363e;
    border-radius: 5px;
    box-shadow:  0 25px 35px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.5s;
    overflow: hidden;
}

.drop-nav.active {
    width: 300px;
    height: 400px;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.5s;
}

.drop-nav .userBx {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.drop-nav.active .userBx {
    width: calc(100% - 60px);
    transition-delay: 0s;
}

.drop-nav .userBx .username {
    white-space: nowrap;
    color:#fff;
    font-size: 18px;
    margin-left: 0.5rem;
}

.drop-nav .userBx .imgBx{
    position: relative;
    min-width: 60px;
    height: 60px;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
    border: 10px solid #2f363e;
}

.drop-nav .userBx .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.drop-nav .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-nav .toggle::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #fff;
    transform: translateY(-10px);
    box-shadow: 0 10px #fff;
    transition: 0.5s;
}

.drop-nav .toggle::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #fff;
    transform: translateY(10px);
    transition: 0.5s;
}

.drop-nav.active .toggle::before {
    transform: translateY(0px) rotate(0deg);
    box-shadow: 0 0 #fff;
}

.drop-nav.active .toggle::after {
    transform: translateY(0px) rotate(0deg);    
}

.menu {
    text-align: left;
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.menu li {
    list-style: none;
}

.menu li a {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    font-size: 1.25em;
    font-weight: 700;
    transition: 0.25s;
    text-decoration: none;
}

.menu li a:hover {
    margin-left: 2rem;
    color: #3c8ce7;
    filter: drop-shadow(0 0 2px #3c8ce7)
            drop-shadow(0 0 5px #3c8ce7)
            drop-shadow(0 0 10px #3c8ce7);
}

.menu li a span {
    letter-spacing: 2px;
}

.menu li a ion-icon {
    font-size: 1.5em;
    margin: 0 0.5rem;
}
/* End Dropdown User Menu */

/* Start Sidebar */
.sidebar-template {
    background: #3d4152;
    padding: 5rem 0;
}

.sidebar-body {
    position: relative;
    background-color: #fff;
    width: 75px;
    height: 700px;
    inset: 20px 0 20px 20px;
    transition: 0.5s;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-body.open {
    width: 250px;
}

.sidebar-body .sidebar-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 5px solid var(--dimgrey);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.sidebar-body .sidebar-toggle ion-icon {
    scale: 3;
    transition: 0.5s;
}

.sidebar-body.open .sidebar-toggle ion-icon {
    transform: rotate(-90deg);
}

.sidebar-body ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 15px;
    width: 100%;
}

.sidebar-body ul li {
    list-style: none;
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    transition: 0.5s;
}

.sidebar-body ul li.active {
    transform: translateX(30px);
}

.sidebar-body.open ul li.active {
    transform: translateX(10px);
}

.sidebar-body ul li.active:hover {
    transform: translateX(30px);
}

.sidebar-body.open ul li.active:hover {
    transform: translateX(10px);
}

.sidebar-body ul li:hover,
.sidebar-body.open ul li:hover {
    transform: translateX(10px);
}

.sidebar-body ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    text-decoration: none;
}

.sidebar-body ul li a .icon {
    position: relative;
    display: block;
    min-width: 55px;
    height: 55px;
    line-height: 65px;
    transition: 0.5s;
    color: #222;
    border-radius: 10px;
    font-size: 2rem;
}

.sidebar-body ul li.active a .icon {
    color: #fff;
    background: var(--clr);
}

.sidebar-body ul li a .icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr);
    filter: blur(8px);
    opacity: 0;
    transition: 0.5s;
}

.sidebar-body ul li.active a .icon::before {
    opacity: 0.5;
}

.sidebar-body ul li a .text {
    position: relative;
    padding: 0 15px;
    height: 60px;
    display: flex;
    align-items: center;
    color: #333;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.sidebar-body.open ul li a .text{
    opacity: 1;
    visibility: visible;
}

.sidebar-body ul li.active a .text {
    color: var(--clr);
}
/* End Sidebar */